/* link for google font */

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');




body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }
  

  .banner {
    width: 100%;
    /* max-width: 1920px;  */
    margin: 0 auto;
    /* padding: 0 240px; */
  }
  
  
  .content {
    width: 90%; 
    max-width: 1440px; 
    margin: 0 auto; 

    
  }
  .flex{
    display: flex;
    
  }
  .justify-between{
    justify-content: space-between;
  }
    .justify-around{
        justify-content: space-around;
    }

  .justify-🇨enter{
    justify-content: center;
  }
  .align-center{
    align-items: center;
  }
  .gap{
    gap: 24px;
  }
  .gap-186{
    gap: 186px;
  }



  /* text */
  .main-heading{
    font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
  }

  .h2{
    color: #272727;

font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
  }


  .p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
  }
  .h5{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px; 
  }
  .center{
    text-align: center;
  }
   
  .mt-48{
    margin-top: 48px;
  }
  
  /* Additional styles for other elements in the content section */

  .bg-primary{
    background: rgba(229, 84, 115, 0.10);

  }
    .text-secondary{
        color: #E55473;
    }
  .btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 20px 43px;
    border: 1px solid #E55473;
  }


  .banner img{
    width: 635px;
    height: 800px;
  
   
    background-repeat: no-repeat;
  
  }
  


  /* main part */
  .box1{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
position: relative;
  }
  .box2{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
position: relative;


  }
  .box3{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
position: relative;
  }

  .box1 > img{
position: absolute;
bottom: 0;
right: 0;
left: 0;
width: 310px;
height: 428px;
padding: 0 10px;
  }
  .box1 > a{
    position: absolute;
    bottom: -32px;
    right: 0;
    left: 0;
    color: #272727;
      }
  .box2 > img{
position: absolute;
bottom: 0;
right: 0;
left: 0;
width: 310px;
height: 428px;
padding: 0 10px;
  }

  .box2 > a{
    position: absolute;
    bottom: -32px;
    right: 0;
    left: 0;
    color: #272727;
      }


  .box3 > img{
position: absolute;
bottom: 0;
right: 0;
left: 0;
width: 310px;
height: 428px;
padding: 0 10px;
  }

  .box3 > a{
    position: absolute;
    bottom: -32px;
    right: 0;
    left: 0;
    color: #272727;
      }



      /* oftional */
      .oftional{
        margin-top: 128px;
        background: rgba(39, 39, 39, 0.05);
        padding: 86px 100px;
      }
      .oftional img{
        width: 88px;
height: 88px;
      }

      /* hot deal */
        .hot-deal{
            margin-top: 128px;
            
            padding: 86px 0;
        }